<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hi <%= @user.first_name %>,</h3>
    <p>Thanks for registering! To confirm your registration:</p>
    <p>Please use this code to reset your password: <%= @user.password_reset_token %></p>
    <p>To reset your password please enter your code in the form here: insert link here.</p>
  </body>
</html>