<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hi <%= @user.first_name %>,</h3>
    <p>Thanks for registering! To confirm your registration:</p>
    <p>Please use this code to confirm your email: <%= @user.confirm_token %></p>
  </body>
</html>