<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Freenote, <%= @user.first_name %></h1>
    <p>
      You have successfully signed up to freenote.up.railway.app,
      your username is: <%= @user.username %>.<br>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
